.grid-item {
	grid-area: 1 / 1 / 2 / 2;

	z-index: 1;
}

.wallpaper {
	height: 100vh;
	min-height: 100%;
	max-height: 100%;
	width: 100vw;
}

.wallpaper-background {
	object-fit: cover;
	clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.index-card {
	width: 23rem;
	transition: transform 0.2s;
}

.index-card:hover {
	transition: transform 0.2s;
	transform: scale(1.05);
}

.modal-content {
	background-color: #161718;
}

.modal-video {
	--bs-aspect-ratio: 50%;
	height: 75vh;
}
