{
	"useTabs": true,
	"tabWidth": 4,
	"printWidth": 120,
	"trailingComma": "none",
	"arrowParens": "always",
	"quoteProps": "as-needed",
	"singleQuote": false,
	"bracketSameLine": false,
	"bracketSpacing": true,
	"semi": true,
	"endOfLine": "lf"
}
